# Loops

## `for` Loop

`for` loops iterate over all the items of a list one by one.

Refer to the following flowchart:

![for loop](../assets/for_loop.png)

In [ ]:
for animal in ["dog", "cat", "mouse"]:
    print(f"{animal} is a mammal")

### Updating contents in-line

In [ ]:
# updating a list "in-line"
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list:", nums)

for index in range(len(nums)):
    nums[index] = nums[index] ** 2
    
print("Squared list:", nums)
# [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Creating a new list from an existing one

In [ ]:
# creating a new list
orig_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = []

for number in orig_list:
    squares.append(number ** 2)
    
print("Original list:", orig_list)
print("New squares list:", squares)
# [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### `range()`

In [ ]:
"""
"range(number)" returns an iterable of numbers
from zero up to (but excluding) the given number
prints:
    0
    1
    2
    3
"""
for i in range(4):
    print(i)

### `range(lower, upper)`

In [ ]:
"""
"range(lower, upper)" returns an iterable of numbers
from the lower number to the upper number
prints:
    4
    5
    6
    7
"""
for i in range(4, 8):
    print(i)

### `range(lower, upper, step)`

In [ ]:
"""
"range(lower, upper, step)" returns an iterable of numbers
from the lower number to the upper number, while incrementing
by step. If step is not indicated, the default value is 1.
prints:
    4
    6
"""
for i in range(4, 8, 2):
    print(i)

### `enumerate()`

In [ ]:
"""
Loop over a list to retrieve both the index 
and the value of each list item:
    0 dog
    1 cat
    2 mouse
"""
animals = ["dog", "cat", "mouse"]
for i, value in enumerate(animals):
    print(i, value)

In [ ]:
# updating a list "in-line" with enumerate
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list:", nums)

for index, value in enumerate(nums):
    nums[index] = value ** 2
    
print("Squared list:", nums)
# [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Nested `for` loops

`for` loops can be nested. The loop will iterate through all the items of the inner list before handing
control back to the outer loop then moving on the next item.

Refer to the following flowchart:

![Nested for loop](../assets/for_loop_nested.png)

In [ ]:
spreadsheet = [
    [1, 2, 3],
    [4, 5, 6],
]

for row in spreadsheet:
    for cell in row:
        print(cell)

## `while` loop

A `while` loop will continue to run until a condition is no longer met (a boolean expression resolves to `False`).

Refer to the following flowchart:

![while loop](../assets/while_loop.png)

In [ ]:
x = 0
while x < 4:
    print(x)
    x += 1  # Shorthand for x = x + 1

## Test your knowledge

Generate test questions by clicking on the code block below and then pressing `Ctrl + Enter`.

In [ ]:
import micropip
await micropip.install('jupyterquiz')

from jupyterquiz import display_quiz
display_quiz('assets/quizzes/07-loops-quiz.json')

## Write some code

### Exercise 1: Sum calculator
Use a for loop to calculate the sum of numbers from 1 to 10.

**Expected Output:**
```
Sum of numbers 1 to 10: 55
```

In [ ]:
def calculate_sum_with_loop():
    """
    Create a function that calculates the sum of numbers from 1 to 10 using a for loop.
    
    Expected Output:
    Sum of numbers 1 to 10: 55
    """
    # TODO: Initialize a variable to store the sum
    # TODO: Use a for loop with range to iterate from 1 to 10
    # TODO: Add each number to the sum
    # TODO: Print the final sum
    pass

# Test your function
# Uncomment the line below to test your function
# calculate_sum_with_loop()

### Exercise 2: List processing
Given a list of names, use a for loop with `enumerate()` to print each name with its position (starting from 1).

In [ ]:
def print_names_with_positions(names):
    """
    Create a function that prints each name with its position using enumerate().
    
    Args:
        names (list): List of names to print
    
    Expected Output:
    1. Alice
    2. Bob
    3. Charlie
    4. Diana
    """
    # TODO: Use enumerate() to get both index and value
    # TODO: Print each name with position (starting from 1)
    pass

# Test your function
names = ["Alice", "Bob", "Charlie", "Diana"]
# Uncomment the line below to test your function
# print_names_with_positions(names)

### Exercise 3: While loop countdown
Create a countdown from 5 to 1 using a while loop, then print "Blast off!"

In [ ]:
def countdown_while_loop():
    """
    Create a function that counts down from 5 to 1 using a while loop, then prints "Blast off!"
    
    Expected Output:
    5
    4
    3
    2
    1
    Blast off!
    """
    # TODO: Initialize counter variable to 5
    # TODO: Use while loop to countdown while counter > 0
    # TODO: Print the counter value each iteration
    # TODO: Decrement the counter each iteration
    # TODO: Print "Blast off!" after the loop
    pass

# Test your function
# Uncomment the line below to test your function
# countdown_while_loop()

### Exercise 4: Nested loops multiplication table
Create a simple 3x3 multiplication table using nested for loops.

In [ ]:
def create_multiplication_table():
    """
    Create a function that generates a 3x3 multiplication table using nested for loops.
    
    Expected Output:
    1 x 1 = 1    1 x 2 = 2    1 x 3 = 3
    2 x 1 = 2    2 x 2 = 4    2 x 3 = 6
    3 x 1 = 3    3 x 2 = 6    3 x 3 = 9
    """
    # TODO: Use nested for loops with range(1, 4) for both rows and columns
    # TODO: Calculate the product for each combination
    # TODO: Print each row on a separate line
    pass

# Test your function
# Uncomment the line below to test your function
# create_multiplication_table()